.togglee {
  --width: 50px;
  --height: calc(var(--width) / 2);
  --border-radius: calc(var(--height) / 2);

  display: inline-block;
  cursor: pointer;
}

.togglee__input {
  display: none;
}

.togglee__fill {
  position: relative;
  width: var(--width);
  height: var(--height);
  border-radius: var(--border-radius);
  background: var(--toggle-button-bg);
  transition: background 0.5s;
}

.togglee__input:checked ~ .togglee__fill {
  background: var(--toggle-button-bg);
}

.togglee__fill::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: var(--height);
  width: var(--height);
  background: var(--toggle-button-color);
  box-shadow: 0 0 10px #0f1330a1;
  border-radius: var(--border-radius);
  transition: transform 0.4s;
}

.togglee__input:checked ~ .togglee__fill::after {
  transform: translateX(var(--height));
  background: var(--toggle-button-color);
  box-shadow: 0 0 10px #0f1330a1;
}
