:root {
  --bg-color: #fab8c6;
  --bg-image-color: url(../public/img/wallp3.jpg);
  --bg-mode: #0f1330;

  --card-bg-color: #fab8c6e7;
  --card-color: #0f1330;
  --card-border-color: #0f1330;
  --card-divider-color: #0f1330;
  --card-hover: #fab8c6;

  --button-bg-color: #0f1330;
  --button-color-color: #fab8c6;
  --button-color-hover-color: #0f1330;
  --button-bg-hover-color: #fab8c6;
  --button-border-color: #0f1330;

  --toggle-button-bg: #fab8c6;
  --toggle-button-color: #0f1330;
}

[data-theme="dark"] {
  --bg-color: rgba(0, 153, 255, 0.866);
  --bg-image-color: url(../public/img/wallp3.jpg);
  --bg-mode: #0f1330;

  --card-bg-color: #0f1330f1;
  --card-color: #fab8c6;
  --card-border-color: #fab8c6;
  --card-divider-color: #fab8c6;
  --card-hover: #0f1330;

  --button-bg-color: #fab8c6;
  --button-color-color: #0f1330;
  --button-color-hover-color: #fab8c6;
  --button-bg-hover-color: #0f1330;
  --button-border-color: #fab8c6;
}
